%h1 Listing dishes

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @dishes.each do |dish|
      %tr
        %td= link_to 'Show', dish
        %td= link_to 'Edit', edit_dish_path(dish)
        %td= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Dish', new_dish_path
