/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

// Site-wide variables
$primary_color: #414141;
$base_font_size: 20px;
// Site-wide functions
@function px-to-em($target,$context:$base_font_size) {
  @return ($target / $context) * 1em;
}

//@function typographic_scale($ratio,$interval,$base:$base_font_size) {
//  @return $base * ($ratio  $interval) * 1px;
//}

/* Base Styles (HTML Selectors) */
html {
  font-size: px-to-em($base_font_size,16px);
  font-family: "Book Antiqua", garamond, "Times New Roman", Helvetica, Arial, sans-serif;
  color: $primary_color;
  line-height: px-to-em(24px);
  margin: px-to-em(20px);
  background-color: #FFF7C0;
}
h1 {
  text-align: center;
  font-size: px-to-em(45px);
  line-height: px-to-em(48px,45px);
}
h2 {
  padding-top: px-to-em(15px);
  padding-bottom: px-to-em(15px);
  font-size: px-to-em(30px);
}
h3 {
  color: #66AB8C;
  font-weight: bold;
  padding-bottom: px-to-em(5px);
}
article {
  padding: px-to-em(10px);
}
article.show,
article.listlineodd{
  border-radius: px-to-em(25px);
  background-color: rgba(255,255,255,0.72);
}
article.show {
  padding-left: px-to-em(10px);
  padding-right: px-to-em(10px);
}
p {
  padding-bottom: px-to-em(15px);
}
img {
  width: 100%;
}
a {
  color: #66AB8C;
  text-decoration: none;
}
.controls {
  display: flex;
  flex-direction: row;
}
.controls li {
  margin-bottom: px-to-em(15px);
  margin-top: px-to-em(15px);
  margin-right: px-to-em(15px);
}
input {
  display: block;
  border: none;
  line-height: 1;
  height: px-to-em(60px);
  padding: 0.718em;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}
input[type="submit"] {
  color: white;
  font-size: px-to-em(20px);
  font-family: inherit;
  cursor: pointer;
  background-color: rgba(102,171,140,0.72);
  margin-top: px-to-em(20px);
  border-radius: 0.345em;
}
.controls a,
p a {
  color: white;
  background-color: rgba(102,171,140,0.72);
  border-radius: 0.345em;
  padding: 0.345em 0.5em;
}
.controls a:hover,
p a:hover,
input[type="submit"]:hover {
  background-color: rgba(255,255,255,0.72);
  color: #66AB8C;
}

/* Layout Styles (Usually Landmark ID Selectors) */
#show {
  padding-top: px-to-em(15px);
}
#notice {
  color: #66AB8C;
}
.tagline {
  text-align: center;
  font-style: italic;
}
#error_explanation {
  background-color: rgba(255,255,255,0.72);
  border-radius: 0.345em;
  padding: 0.345em 0.5em;
  color: red;
}
#error_explanation li {
  list-style: square;
  list-style-position: inside;
}

/* Modular Styles (Repeating Class Selectors) */

/* State Styles (Javascript-Dependent Styles, Meida Queries) */
@media screen and (min-width: 768px) {
  article.listlineodd{
    border-radius: 0;
    background:none;
  }
  .dishes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: px-to-em(25px);
    background-color: rgba(255,255,255,0.72);
  }
  .dishes li {
    display: inline-block;
    width: 50%;
  }
  article.show {
    padding-left: px-to-em(25px);
    padding-right: px-to-em(25px);
  }
}

@media screen and (min-width: 1200px) {
  .dishes li {
    display: inline-block;
    width: 33.333333333%;
  }
  article.show {
    padding-left: px-to-em(50px);
    padding-right: px-to-em(50px);
  }
  article.show img {
    width: 50%;
  }
}
